:root {
  --palette-main: #ffe100;
--palette-main-dark: #a69200;
--palette-main-dark-1: #bfae30;
--palette-main-light: #ffee73;
--palette-main-light-1: #ffe840;

--palette-secondary: #8f04a8;
--palette-secondary-dark-1: #70227e;
--palette-secondary-dark: #5d016d;
--palette-secondary-light-1: #bc38d3;
--palette-secondary-light: #c262d3;

--palette-third: #1729b0;
--palette-third-dark-1: #2e3884;
--palette-third-dark: #081472;
--palette-third-light-1: #4b5cd7;
--palette-third-light: #717dd7;
}

.app--tenses {
--palette-secondary: #ffe100;
--palette-secondary-dark: #a69200;
--palette-secondary-dark-1: #bfae30;
--palette-secondary-light: #ffee73;
--palette-secondary-light-1: #ffe840;

--palette-main: #8f04a8;
--palette-main-dark-1: #70227e;
--palette-main-dark: #5d016d;
--palette-main-light-1: #bc38d3;
--palette-main-light: #c262d3;

--palette-third: #1729b0;
--palette-third-dark-1: #2e3884;
--palette-third-dark: #081472;
--palette-third-light-1: #4b5cd7;
--palette-third-light: #717dd7;
}
