.verb {
  background: var(--palette-main-light);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  color: var(--palette-main-third);
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .row {
    display: flex;
  }

  .cell {
    width: 100%;
    flex-grow: 1;
    padding: 0.5rem 0.25rem;
  }

  .translations {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin: 0;
    opacity: 0.6;
    font-size: 0.85em;

    li {
      margin: 0.25em;
    }
  }
}

.form {
  line-height: 1.1;

  .item + .item {
    margin-top: 0.5em;
  }

  .value {
    margin-bottom: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--font-accent);
    color: var(--palette-third-dark);

    font-size: 1.4em;
  }

  .transcription {
    opacity: 0.6;
    font-size: 0.9em;
    text-transform: lowercase;
  }

  &.size--2 {
    .value {
      font-size: 1.35em;
    }
    .transcription {
      font-size: 0.9em;
    }
  }

  &.size--3 {
    .value {
      font-size: 1.2em;
    }
    .transcription {
      font-size: 0.9em;
    }
  }

  &.size--4 {
    .value {
      font-size: 1.01em;
    }
    .transcription {
      font-size: 0.85em;
    }
  }

  &.size--5 {
    .value {
      font-size: 0.95em;
    }
    .transcription {
      font-size: 0.8em;
    }
  }

  &.size--6 {
    .value {
      font-size: 0.85em;
    }
    .transcription {
      font-size: 0.75em;
    }
  }
}
